<h1><%= @user.name %></h1>

<% if !@user.created_events.nil? %>
    <ul>
        <% @user.created_events.each do | event | %>
            <li>
                <%= "#{event.name} is taking place on #{event.date} at #{event.location}" %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>There are currently no events!</p>
<% end %>