<h1><%= @event.name  %> Attendees:</h1>

<% if !@event.attendees.empty? %>
    <ul>
        <% @event.attendees.each do | attendee | %>
            <li>
                <%= "#{attendee.name}" %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>There are currently no attendees!</p>
<% end %>

<% if current_user == @event.creator %>
    <p> You made this event! </p>
<% else %>
    <%= link_to 'RSVP', rsvp_event_path %>
<% end %>
